<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>445445166009-ne81ki45voq2kve7hp5jdemorhh7uc8h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445445166009-ne81ki45voq2kve7hp5jdemorhh7uc8h</string>
	<key>API_KEY</key>
	<string>AIzaSyDszNDiY68Qaem0_x2XreSe-wWwzyoyydE</string>
	<key>GCM_SENDER_ID</key>
	<string>445445166009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.john.VictoryHQ</string>
	<key>PROJECT_ID</key>
	<string>victoryhq</string>
	<key>STORAGE_BUCKET</key>
	<string>victoryhq.appspot.com</string>
	<key></key>
	<string></string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:445445166009:ios:4997566fd8ba1d92f65c68</string>
	<key>DATABASE_URL</key>
	<string>https://victoryhq-default-rtdb.firebaseio.com</string>
</dict>
</plist>
